{% extends 'base.html.twig' %}

{% block title %}Hello MedicineController!{% endblock %}

{% block body %}
    <ul>
    {% for medicine in medicines %}
        <li>
            <a href="{{ path('app_medicine_show', {id: medicine.id}) }}">
                {{ medicine.name }}
                {% for ctg in medicine.category %}
                    {{ ctg.name }}
                {% endfor %}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
