{% extends 'base.html.twig' %}

{% block title %}Hello MedicineController!{% endblock %}

{% block body %}
    <ul>
    {% for medicine in medicines %}
        <li>
            {{ medicine.name }}
            {% for ctg in medicine.category %}
                {{ ctg.name }}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
