{% extends 'base.html.twig' %}

{% block title %}Liste des médicaments{% endblock %}

{% block body %}
    <form>
        <input id="search" type="text" placeholder="Rechercher..." id="">
        <select id="filter-category">
            <option value="0" selected>Catégorie</option>
            {% for ctg in categories %}
                <option value="">{{ ctg.name }}</option>
            {% endfor %}
        </select>
        <select id="filter-order">
            <option value="0">Trier par</option>
        </select>
    </form>

    <div id="medicines-container">
        {{ include('medicine/_medicines.html.twig') }}
    </div>

{% endblock %}
