{% extends 'base.html.twig' %}

{% block title %}MedicalCenter{% endblock %}

{% block body %}
<div class="main">
    <h2 class="presentation lexend-bold">Votre fournisseur de médicaments depuis 20 ans</h2>
    <div class="solutions">
        <p class="league-spartan-regular">Achat de médicaments pour les professionnels de la santé par des professionnels de la santé</p>
        <p class="league-spartan-regular">Possibilité de livraison et de suivi de commande</p>
        <p class="league-spartan-regular">Catalogue et nouveaux arrivages grâce à notre collaboration avec de nombreuses usines pharmaceutique</p>
    </div>
</div>
{% endblock %}
