body * {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url('../images/background.jpeg') fixed;
    background-size: cover;
}

html, body {
    display: flex;
    height:100%;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}

h1 {
    color: white;
}

header {
    background-color: #137C8B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 76px;
}

header > span {
    flex-direction: row;
    display: flex;
    align-items: center;
}

#logo {
    height: 45px;
}

header a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    flex-grow: 1;
}

header > span > a {
    gap: 0.5em;
    padding: 20px;
}

.header-button > a {
    font-size: 24px;
    color: white;
}

.header-button > *:hover {
    background-color: white;
    color: #137C8B;
    transition: 0.15s linear;
}

.header-button > *:not(:hover) {
    transition: 0.15s linear;
}

.material-symbols-outlined {
    font-size: 36px;
}

.main {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.presentation {
    font-size: 60px;
    color: white;
    text-align: center;
}

.solutions {
    display: flex;
    flex-direction: row;
    gap: 5em;
    align-items: center;
    padding: 100px;
}

.solutions > p {
    font-size: 40px;
    color: white;
    text-align: center;
    max-width: 450px;
}

.user-form {
    background-color: #B8CBD0;
    border-radius: 35px;
    padding: 25px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-form > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.user-form > h3 {
    color: #137C8B;
    text-align: center;
    font-size: 36px;
}

.user-form > form input {
    background-color: #dcdcdc;
    border-radius: unset;
    font-size: 20px;
    color: #444444;
}

.user-form > form input:focus {
    background-color: #dcdcdc;
}


.user-form > form input::placeholder {
    font-size: 20px;
}

.user-form > form button {
    background-color: #709CA7;
    font-size: 28px;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.user-form > form button:hover {
    background-color: #4a7c86;
    color: white;
}

.user-form > form button:active {
    background-color: #137C8B;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.no-account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-medecine {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-medecine form {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    align-items: center;
}

#input-search, #submit-search, #filter-order, #filter-category {
    font-size: 26px;
    border-radius: 40px;
    border: solid #137C8B 4px;
    padding: 0 0.5em 0 1.5em;
}

#submit-search {
    padding: 0 1em 0 1em;
}

#submit-search:hover {
    background-color: #137C8B;
    color: white;
}

#filter-order, #filter-category {
    padding: 0.2em 1em 0.2em 0.5em;
}

.filter-oot-label {
    color: white;
    font-size: 22px;
}

.search-label {
    position: relative;
}

.search-label span {
    position: absolute;
    top: 6px;
    left: 6px;
    color: #797979;
}

.medicines {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    padding: 0 3em 180px 3em;
    overflow-y: scroll;
    height: 780px;
    gap: 3em;
}

.medicine {
    height: 450px;
    width: 500px;
    background: white;
    border: solid #137C8B 4px;
    border-radius: 35px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    position: relative;
}

.medicine > a {
    text-decoration: underline 1px black;
}

.medicine > a > p {
    font-size: 30px;
    color: black;
}

.medicine-item {
    display: flex;
    gap: 2em;
    align-items: center;
}

.medicine-item img {
    max-height: 200px;
    max-width: 200px;
}

.medicine-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medicine-description p {
    font-size: 26px;
    line-height: 30px;
    color: #656565;
}

.medicine-add {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #137C8B;
    border-radius: 25px;
    padding: 0.375em 0.75em 0.375em 0.75em;
    gap: 0.5em;
}

.medicine-add * {
    color: white;
    font-size: 24px;
}

.medicine-add span {
    font-size: 28px;
}

.medicine-quantity {
    font-size: 20px;
}

.selection-chevron {
    font-size: 4em;
    transform: rotate(-90deg);
}

.selection-chevron:hover {
    transform: rotate(90deg);
    transition: ease-in-out 0.4s;
}

.medicine-actions {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    position: absolute;
    bottom: 0.5em;
    right: 209px;
    height: 60px;
}

.dropdown .selection-chevron {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}

.medicine-actions {
    list-style-type: none;
    margin: 0;
    display: none;
    position: absolute;
    left: -213px;
    background-color: #137C8B;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    z-index: 1;
    top: calc(100% + 10px);
}

.placebo {
    display: none;
    height: 50px;
    position: absolute;
    left: -213px;
    top: 50%;
    width: 500px;
    background-color: #137C8B;
    z-index: -1;
}

.medicine-actions li {
    margin: 0;
    padding: 10px 15px;
    text-align: center;
}

.medicine-actions li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    white-space: nowrap;
}

.medicine-actions li:hover {
    background-color: #075a67;
}


.dropdown:hover .medicine-actions {
    display: block;
    transition: ease-in-out 10s;
}

.dropdown:hover .placebo {
    display: block;
    transition: ease-in-out 10s;
}

.medicine-actions:hover {
    display: block;
}

.main-cart {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid #137C8B 5px;
    border-radius: 35px;
    padding: 1em;
    margin: 96px 5em 58px 5em;
    height: 800px;
}

.main-cart h3 {
    font-size: 42px;
    border-bottom: black 1px solid;
    text-align: center;
}

.main-cart form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cart-items {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 2em;
    padding: 1em;
    height: 680px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    background-color: #B8CBD0;
    justify-content: space-between;
    padding: 1em 3em 1em 3em;
    border-radius: 20px;
}

.cart-item-presentation {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: center;
}

.cart-item-presentation img {
    max-height: 180px;
    max-width: 180px;
}

.cart-item-description {
    display: flex;
    flex-direction: column;
}

.cart-item-description p:first-child {
    font-size: 32px;
}

.cart-item-modify {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

.cart-item-price {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.cart-item-price p:first-child {
    font-size: 30px;
}

.main-cart button {
    background-color: #709CA7;
    color: black;
    border-radius: 15px;
    border: none;
    padding-top: 5px;
    align-self: center;
    width: 350px;
    font-size: 20px;
}

.cart-item-quantity {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    border: solid #137C8B 3px;
    gap: 1em;
    padding: 5px 0.3em 0 0.3em;
    align-items: center;
    justify-content: center;
}

.cart-item-quantity span {
    font-size: 28px;
    color: black;
}

.cart-item-quantity p {
    font-size: 20px;
}

.cart-item-delete {
    font-size: 34px;
    color: red;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 42px;
    background-color: #344D59;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}


/* League Spartan Font */
.league-spartan-thin {
     font-family: "League Spartan", serif;
     font-optical-sizing: auto;
     font-weight: 100;
     font-style: normal;
 }

.league-spartan-extralight {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.league-spartan-light {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.league-spartan-regular {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.league-spartan-medium {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.league-spartan-semibold {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.league-spartan-bold {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.league-spartan-extrabold {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.league-spartan-black {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* Lexend Font */
.lexend-thin {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.lexend-extralight {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.lexend-light {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.lexend-regular {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lexend-medium {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.lexend-semibold {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.lexend-bold {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lexend-extrabold {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.lexend-black {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}


.inter-thin {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.inter-extralight {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.inter-light {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-semibold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-extrabold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.inter-black {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
