body * {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url('../images/background.jpeg') fixed;
    background-size: cover;
}

html, body {
    display: flex;
    height:100%;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}

h1 {
    color: white;
}

header {
    background-color: #137C8B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 76px;
}

header > span {
    flex-direction: row;
    display: flex;
    align-items: center;
}

#logo {
    height: 45px;
}

header a, .deconnect-container {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    flex-grow: 1;
}

header > span > a {
    gap: 0.5em;
    padding: 20px;
}

.deconnect-container {
    margin-top: 76px;
    position: absolute;
    right: 0;
    top: -55px;
    background-color: #FF4D4D;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: block;
    transition: ease-in-out 0.3s;
}

.deconnect-container a {
    text-decoration: none;
}

.header-button > a, .deconnect-container a{
    font-size: 24px;
    color: white;
}

.header-button > *:hover {
    background-color: white;
    color: #137C8B;
    transition: 0.15s linear;
}

.header-button > *:not(:hover) {
    transition: 0.15s linear;
}

.material-symbols-outlined {
    font-size: 36px;
}

.alert {
    margin-top: 70px;
    z-index: 1000;
    position: relative;
}

.main {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.presentation {
    font-size: 60px;
    color: white;
    text-align: center;
}

.solutions {
    display: flex;
    flex-direction: row;
    gap: 5em;
    align-items: center;
    padding: 100px;
}

.solutions > p {
    font-size: 40px;
    color: white;
    text-align: center;
    max-width: 450px;
}

.user-form {
    background-color: #B8CBD0;
    border-radius: 35px;
    padding: 25px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-form > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.user-form > h3 {
    color: #137C8B;
    text-align: center;
    font-size: 36px;
}

.user-form > form input,
.user-form > form select
{
    background-color: #dcdcdc;
    border-radius: unset;
    font-size: 20px;
    color: #444444;
}

.user-form > form input:focus,
.user-form > form select:focus{
    background-color: #dcdcdc;
}


.user-form > form input::placeholder {
    font-size: 20px;
}

.user-form > form button {
    background-color: #709CA7;
    font-size: 28px;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.user-form > form button:hover {
    background-color: #4a7c86;
    color: white;
}

.user-form > form button:active {
    background-color: #137C8B;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.no-account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-medecine {
    margin-top: 76px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-medecine form {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    align-items: center;
}

#input-search, #submit-search, #filter-order, #filter-category {
    font-size: 26px;
    border-radius: 40px;
    border: solid #137C8B 4px;
    padding: 0 0.5em 0 1.5em;
}

#submit-search {
    padding: 0 1em 0 1em;
}

#submit-search:hover {
    background-color: #137C8B;
    color: white;
}

#filter-order, #filter-category {
    padding: 0.2em 1em 0.2em 0.5em;
}

.filter-oot-label {
    color: white;
    font-size: 22px;
}

.search-label {
    position: relative;
}

.search-label span {
    position: absolute;
    top: 6px;
    left: 6px;
    color: #797979;
}

.medicines {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    padding: 1.5em 3em 180px 3em;
    overflow-y: scroll;
    height: 780px;
    gap: 3em;
}

.medicine {
    height: 430px;
    width: 500px;
    background: white;
    border: solid #137C8B 4px;
    border-radius: 35px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
    position: relative;
}

.medicine > img {
    position: absolute;
    top: -30px;
    left: -30px;
    height: 80px;
    width: auto;
}
.medicine > a {
    text-decoration: underline 1px black;
}

.medicine > a > p {
    font-size: 30px;
    color: black;
}

.medicine-item {
    display: flex;
    gap: 2em;
    align-items: center;
}

.medicine-item img {
    max-height: 200px;
    max-width: 200px;
}

.medicine-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medicine-description p {
    font-size: 26px;
    line-height: 30px;
    color: #656565;
}

.medicine-add {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #137C8B;
    border-radius: 25px;
    padding: 0.375em 0.75em 0.375em 0.75em;
    gap: 0.5em;
}

.medicine-add {
    color: white;
    font-size: 24px;
    border: none;
}

.medicine-add span {
    font-size: 28px;
}

.medicine-show-add {
    border: none;
    font-size: 22px;
}

.medicine-quantity {
    font-size: 20px;
}

.selection-chevron {
    font-size: 4em;
    transform: rotate(-90deg);
}

.selection-chevron:hover {
    transform: rotate(90deg);
    transition: ease-in-out 0.4s;
}

.medicine-actions {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    position: absolute;
    bottom: 0.5em;
    right: 209px;
    height: 60px;
}

.dropdown .selection-chevron {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}

.medicine-actions {
    list-style-type: none;
    margin: 0;
    display: none;
    position: absolute;
    left: -213px;
    background-color: #137C8B;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    z-index: 1;
    top: calc(100% + 10px);
}

.placebo {
    display: none;
    height: 50px;
    position: absolute;
    left: -213px;
    top: 50%;
    width: 500px;
    background-color: #137C8B;
    z-index: -1;
}

.medicine-actions li {
    margin: 0;
    padding: 10px 15px;
    text-align: center;
}

.medicine-actions li a, .medicine-actions li p {
    text-decoration: none;
    color: white;
    font-size: 24px;
    white-space: nowrap;
}

.medicine-actions li:hover {
    background-color: #075a67;
}


.dropdown:hover .medicine-actions {
    display: block;
    transition: ease-in-out 10s;
}

.dropdown:hover .placebo {
    display: block;
    transition: ease-in-out 10s;
}

.medicine-actions:hover {
    display: block;
}

.medicine-category {
    background-color: lightgray;
    border: solid grey 1px;
    border-radius: 10px;
    padding: 0 0.5em 0 0.5em;
}

.main-cart {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid #137C8B 5px;
    border-radius: 35px;
    padding: 1em;
    margin: 96px 5em 58px 5em;
    height: 800px;
}

.main-cart h3 {
    font-size: 42px;
    border-bottom: black 1px solid;
    text-align: center;
}

.main-cart form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cart-items {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 2em;
    padding: 1em;
    height: 680px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    background-color: #B8CBD0;
    justify-content: space-between;
    padding: 1em 3em 1em 3em;
    border-radius: 20px;
}

.cart-item-presentation {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: center;
}

.cart-item-presentation img {
    max-height: 180px;
    max-width: 180px;
}

.cart-item-description {
    display: flex;
    flex-direction: column;
}

.cart-item-description a:first-child {
    font-size: 32px;
    text-decoration: underline solid 1px;
    color: black;
}

.cart-item-modify {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

.cart-item-price {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.cart-item-price p:first-child {
    font-size: 30px;
}

.main-cart button {
    background-color: #709CA7;
    color: black;
    border-radius: 15px;
    border: none;
    padding-top: 5px;
    align-self: center;
    width: 400px;
    font-size: 20px;
}

.cart-item-quantity {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    border: solid #137C8B 3px;
    gap: 1em;
    padding: 5px 0.3em 0 0.3em;
    align-items: center;
    justify-content: center;
}

.cart-item-quantity span {
    font-size: 28px;
    color: black;
}

.cart-item-quantity p {
    font-size: 20px;
}

.cart-item-delete {
    font-size: 34px;
    color: red;
}

.main-medicine-show {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 92px 10em 58px 10em;
    background-color: white;
    border-radius: 35px;
    border: solid #137C8B 5px;
    padding: 2em;
}

.medicine-show-left {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    gap: 2em;
}

.medicine-show-left h3 {
    font-size: 48px;
}

.medicine-show-left > p {
    font-size: 28px;
    background-color: lightgray;
    border: solid darkgray 2px;
    border-radius: 25px;
    padding: 2px 1em 0 1em;
    margin-bottom: 1em;
}

.no-category {
    font-size: 28px;
    border: solid darkgray 2px;
    border-radius: 25px;
    padding: 5px 1em 0 1em;
    margin-bottom: 1em;
}

.medicine-show-right {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    gap: 2em;
}

.medicine-show-right img {
    width: 400px;
    height: auto;
}

.medicine-show-description, .medicine-show-information{
    display: flex;
    flex-direction: column;
    position: relative;
    border: #137C8B solid 4px;
    border-radius: 15px;
    align-items: center;
    z-index: 0;
    padding: 1.5em 1em 0.5em 1em;
}

.medicine-show-description p.lexend-semibold, .medicine-show-information p.lexend-semibold  {
    color: white;
    position: absolute;
    z-index: 2;
    left: auto;
    top: -15px;
    text-align: center;
}

.medicine-show-description p.league-spartan-regular {
    font-size: 20px;
}

.medicine-show-information p.league-spartan-regular {
    font-size: 26px;
    line-height: 34px;
}

.medicine-show-add {
    display: flex;
    flex-direction: row;
    background-color: #137C8B;
    color: white;
    align-items: center;
    gap: 1em;
    padding: 0 2.5em 0 2.5em;
    border-radius: 40px;
}

.medicine-show-payment {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.medicine-show-add p {
    font-size: 30px;
    padding-top: 5px;
}

.medicine-show-payment > p {
    font-size: 24px;
}

.trapeze {
    position: absolute;
    top: -22px;
    left: auto;
    height: 0;
    width: 350px;
    border-bottom: 40px solid #137C8B;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: 1;
}



.trapeze-reverse {
    position: absolute;
    top: -22px;
    left: auto;
    height: 0;
    width: 350px;
    border-top: 40px solid #137C8B;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: 1;
}

.main-user {
    display: flex;
    flex-direction: column;
    margin: 96px 5em 58px 5em;
    background-color: white;
    border: #137C8B solid 5px;
    border-radius: 45px;
    padding: 1em 2em 2em 2em;
    gap: 1em;
    flex: 1;
    max-height: 800px;
}

.main-user h2 {
    text-align: center;
    font-size: 40px;
}

.user-container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    height: 60%;
}



.user-information {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    border: solid #B8CBD0 4px;
    border-radius: 15px;
    background-color: #f9f9f9;
    padding-bottom: 1em;
}


.user-information > *:not(.user-information h3) {
    padding: 0 1em 0 1em;
    font-size: 18px;
}

.user-information > p:nth-child(2) {
    padding-top: 1em;
}

.user-adresses,
.user-orders,
.user-payment,
.user-security {
    border: solid #B8CBD0 4px;
    border-radius: 15px;
    background-color: #f9f9f9;
}

.user-adresses-container,
.user-orders-container {
    overflow-y: auto; /* Auto pour ajouter un scroll uniquement si nécessaire */
    max-height: 100%; /* S'assurer que la hauteur maximale est respectée */
    flex: 1; /* Permet à la boîte de s'étendre dans l'espace disponible */
    box-sizing: border-box; /* Inclut les paddings et les bordures dans la hauteur */
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* S'assurer que les boîtes parents sont bien définies */
.user-adresses,
.user-orders {
    display: flex;
    flex-direction: column;
    height: 100%; /* Hauteur 100% pour forcer l'alignement */
    box-sizing: border-box; /* Prévenir les débordements */
}

.main-user h3 {
    text-align: center;
    background-color: #B8CBD0;
    padding-bottom: 3px;
    font-size: 30px;
}

.user-adresse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #B8CBD0;
    border-radius: 10px;
    padding: 0.5em;
    align-items: center;
}

.user-adresse-description {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    font-size: 20px;
}

.no-adress, .no-orders {
    font-size: 26px;
}

.user-orders-container .order {
    display: flex;
    flex-direction: column;
    border-bottom: solid black 1px;
    padding-bottom: 1em;
}

.user-orders-container .order:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.user-orders-container .order-title, .user-orders-container .order-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-orders-container .order-medecines {
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

.user-orders-container .order-medecine {
    text-decoration: underline #565656 solid 1px;
    font-size: 16px;
}

.user-orders-container .order-title > p:first-child {
    font-size: 20px;
}

.user-orders-container .order-title > p:nth-child(2) {
    font-size: 18px;
}

.user-orders-container .order-info > p:nth-child(2) {
    font-size: 22px;
}

.user-orders-container .order > a {
    text-align: center;
}

.user-security-buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
    height: 80%;
}

.btn-change-password, .btn-logout {
    border-radius: 15px;
    border: none;
    padding: 3px 1em 0 1em;
    color: white;
    font-size: 20px;
}

.btn-change-password {
    background-color: #9A5555;
}

.btn-logout {
    background-color: #EA4141;

}

.main-order, .main-order-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 800px;
    margin: 96px 5em 58px 5em;
    background-color: white;
    border: #137C8B solid 5px;
    border-radius: 45px;
    padding: 1em 2em 2em 2em;
}

.main-order .orders{
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    padding: 0.5em;
}

.main-order h3 {
    text-align: center;
    padding-bottom: 3px;
    font-size: 40px;
}

.main-order .order {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    border: #626262 solid 2px;
    border-radius: 20px;
    position: relative;
    padding: 0 1em 0 1em;
}

.main-order .order > p:first-child {
    position: relative;
    background-color: #DADADA;
    top: -2px;
    left: -18px;
    text-align: center;
    font-size: 24px;
    border-radius: 20px;
    border: #626262 solid 2px;
    padding: 0.25em;
    width: 102.3%;
}

.main-order .order-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-order .order-status-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.main-order .order-status-container p:first-child {
    font-size: 24px;
}

.main-order .order-status-container p:nth-child(2) {
    border: solid 3px;
    padding: 3px 5px 1px 5px;
    border-radius: 5px;
}

.main-order .order-status-container p:nth-child(2).status-vert {
    border-color: #138B33;
}

.main-order .order-status-container p:nth-child(2).status-gris {
    border-color: #BFBFBF;
}

.main-order .order-status-container p:nth-child(2).status-rouge {
    border-color: #EA4141;
}

.main-order .order-status > p {
    font-size: 24px;
    color: #137C8B;
}

.main-order .order-price, .main-order .order-adresse {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.main-order .order-price p, .main-order .order-adresse p {
    font-size: 24px;
}

.main-order .order-medecines {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 2em 0 2em;
}

.main-order .order-medecines img {
    height: 100px;
    width: auto;
}

.main-order .order-medecine {
    display: flex;
    gap: 1em;
    align-items: center;
}

.main-order .order-medecines a {
    font-size: 20px;
}

.main-order .order-medecine-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}

.main-order .order-medecine-buttons button {
    border: solid 3px #137C8B;
    border-radius: 20px;
    padding: 0.35em 1em 0.35em 1em;
}

.main-order .order-medecine-buttons button:first-child {
    background-color: #137C8B;
    color: white;
}

.main-order .order-medecine-buttons button:last-child {
    background-color: white;
    color: #137C8B;
}

.main-order .order > p:last-child {
    font-size: 18px;
    text-align: end;
}

.main-order-item {
    gap: 0.5em;
}

.order-item-title {
    display: flex;
    flex-direction: row;
    background-color: #DADADA;
    border: solid 2px #656565;
    border-radius: 20px;
    padding: 0.5em;
    position: relative;
    justify-content: center;
    align-items: center;
}

.order-item-title > p {
    position: absolute;
    right: 1em;
    top: auto;
    border: solid 3px;
    border-radius: 10px;
    padding: 3px 5px 1px 5px;
    font-size: 22px;
}

.order-item-title > p.status-gris {
    border-color: #656565;
}

.order-item-title > p.status-vert {
    border-color: #138B33;
}

.order-item-title > p.status-rouge {
    border-color: #EA4141;
}

.main-order-item > p.league-spartan-semibold {
    text-align: center;
    font-size: 24px;
    color: #137C8B;
}

.main-order-item > p.league-spartan-light {
    text-align: center;
    font-size: 18px;
}

.main-order-item h4 {
    font-size: 36px;
}

.order-item-medecines, .order-item-payment, .order-item-adress {
    border: solid black 1px;
    padding: 1em;
    margin-bottom: 0.5em;
}

.order-item-medecines {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 1em;
}

.order-item-medecines img {
    height: 80px;
    width: auto;
}

.order-item-medecine {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
}

.order-item-medecines a {
    font-size: 18px;
}

.order-item-medecines button {
    background-color: white;
    border: #137C8B solid 3px;
    border-radius: 15px;
}

.order-item-payment-article, .order-item-payment-livraison, .order-item-payment-total {
    display: flex;
    flex-direction: row;
    gap: 3em;
    font-size: 18px;
    line-height: 22px;
}

.order-item-payment-article p:first-child,
.order-item-payment-livraison p:first-child,
.order-item-payment-total p:first-child {
    width: 80px;
}

.order-item-adress {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 22px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 42px;
    background-color: #344D59;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}


/* League Spartan Font */
.league-spartan-thin {
     font-family: "League Spartan", serif;
     font-optical-sizing: auto;
     font-weight: 100;
     font-style: normal;
 }

.league-spartan-extralight {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.league-spartan-light {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.league-spartan-regular {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.league-spartan-medium {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.league-spartan-semibold {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.league-spartan-bold {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.league-spartan-extrabold {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.league-spartan-black {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* Lexend Font */
.lexend-thin {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.lexend-extralight {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.lexend-light {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.lexend-regular {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lexend-medium {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.lexend-semibold {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.lexend-bold {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lexend-extrabold {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.lexend-black {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}


.inter-thin {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.inter-extralight {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.inter-light {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-semibold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-extrabold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.inter-black {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.alert-error {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
}