body {
    background-color: skyblue;
}

header {
    background-color: #137C8B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 76px;
}

header > span {
    flex-direction: row;
    display: flex;
    align-items: center;
}

header img {
    height: 50%;
}

header a {
    display: flex;
    flex-direction: row;
    align-items: center;
}