{% extends 'base.html.twig' %}

{% block title %} Modification mot de passe {% endblock %}

{% block body %}
    <div class="main">
        <h1>Changer de mot de passe</h1>

        {{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword) }}
        <button class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
