{% extends 'base.html.twig' %}

{% block title %} Modification mot de passe {% endblock %}

{% block body %}
<div class="main">
    <div class="user-form">
        <h3 class="h3 poppins-semibold">Changer de mot de passe</h3>

        {{ form_start(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_row(form.newPassword) }}

        <button class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
