{% extends 'base.html.twig' %}
{% set title = 'Inscription' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="main">
    <div class="user-form">
        <h3 class="h3 poppins-semibold">{{ title }}</h3>
        {{ include('user/_form.html.twig', {form: form, submit_label: 'Inscription'}, with_context=false) }}
    </div>
</div>
{% endblock %}
